* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1156px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
}

.list-st {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#list-header {
  padding-top: 35px;
}

.img-box {
  margin-right: 275px;
}

.header-nav {
  margin-right: 221px;
}

.nav-item1 {
  margin-right: 53px;
}

.nav-item2 {
  margin-right: 37px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
}

.button-link {
  margin-right: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.7;
}

.button-sign {
  padding: 15px 30px;
  background-color: #f44545;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

#hero {
  padding-top: 110px;
  padding-bottom: 136px;
}

.hero-about {
  width: 510px;
}

.hero-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206; 
  margin-bottom: 25px; 
}

.title-sp {
  color: #20d499;
}

.hero-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 30px;
}

.hero-input {
  width: 472px;
  height: 65px;
  background-color: #fff;
  border-radius: 6px;
  filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
  padding: 6px;
  padding-left: 24px;
  margin-bottom: 35px;
}

.input-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  margin-right: 176px;
}

.input-button {
  padding: 10px 33px;
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  background-color: #f44545;
  border-radius: 6px;
  border: none;
}

.icon-play {
  margin-right: 30px;
}

#cooperate {
  background-color: #f4fdfa;
  padding: 53px 0px;
}

.cooperate-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#complete {
  padding: 110px 0px;
}

.complete-box {
  display: flex;
  justify-content: space-between;
}

.complete-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 625px;
}

.complete-item:first-child {
  box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);

}

.complete-item:not(:first-child) {
  border: 1px solid rgba(2, 18, 6, 0.1);
}

.complete-item {
  width: 282px;
  background: #fff;
  border-radius: 10px;
  padding: 36px 0px;
  padding-left: 35px;
  margin: 15px;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.setting {
  background: linear-gradient(141.58deg, #ff9a9a 3.63%, #f14c4c 91.45%);
  box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
}

.friendly {
  background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
}

.secured {
  background: linear-gradient(163.65deg, #fcd876 4.69%, #fabc13 88.66%);
  box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
}

.code {
  background: linear-gradient(143.75deg, #fe9af4 0%, #ec4edc 88.72%);
  box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
}

.item-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.8;
  margin-bottom: 9px;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.complete-about {
  width: 480px;
}

.complete-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
  margin-bottom: 20px;  
}

.complete-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.text1 {
  margin-bottom: 16px;
}

.text2 {
  margin-bottom: 29px;
}

.button-learn {
  padding: 15px 40px;
  color: #fff;
  background: #282323;
  border-radius: 6px;
  border: none;
  margin-right: 25px;
}

.about-button-link {
  color: #ff4d4d;
}
